FRONTEND_URL=http://localhost:5173/
SECRET_KEY=super-strong-and-long-secret-SECRET_KEY
JWT_SECRET_KEY=super-secret-and-strong-jwt-secret-key
SQLALCHEMY_DATABASE_URI=sqlite:///database.db
ENV=development

MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USE_TLS=False
MAIL_USERNAME=example@yandex.ru
MAIL_PASSWORD=password
MAIL_DEFAULT_SENDER=example@yandex.ru

CRON_SECRET=вставьте_сюда_длинную_случайную_строку
ENABLE_DEV_SCHEDULER=false